<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="commonContentMapper">
    <sql id="Base_Column_List">
        ID,SYSID,QUESTION,ANSWER,KEYWORD,REMARK,CREATETIME,UPDATETIME,ISVALID
    </sql>
    <sql id="Base_Column_List_NoAns">
        ID,SYSID,QUESTION,KEYWORD,REMARK,CREATETIME,UPDATETIME,ISVALID
    </sql>
    <resultMap id="DataSourceResult" type="com.pingan.robot.common.vo.QAVO">
        <result column="id" property="id"/>
        <result column="sysid" property="sysId"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="keyword" property="keyword"/>
        <result column="remark" property="remark"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>
        <result column="isvalid" property="isValid"/>
    </resultMap>

    <!-- insert content 此版本不需要定义statementType="STATEMENT" -->
    <insert id="insert" parameterType="com.pingan.robot.common.vo.QAVO">
        INSERT INTO
        info_qalist
        (question,answer,keyword,remark,createtime,updatetime,isvalid,sysid)
        VALUES(
         #{question,jdbcType=INTEGER},
         #{answer,jdbcType=VARCHAR},
         #{keyword,jdbcType=VARCHAR},
         #{remark,jdbcType=VARCHAR},
         #{createTime,jdbcType=VARCHAR},
         #{updateTime,jdbcType=VARCHAR},
         #{isvalid,jdbcType=INTEGER},
         #{sysId,jdbcType=INTEGER}
        )
    </insert>

    <update id="update" parameterType="com.pingan.robot.common.vo.QAVO">
        UPDATE info_qalist
        <trim prefix="set" suffixOverrides=",">
            <if test="question != null and question != ''">QUESTION=#{question},</if>
            <if test="answer != null and answer != ''">ANSWER=#{answer},</if>
            <if test="keyword != null and keyword != ''">KEYWORD=#{keyword},</if>
            <if test="remark != null and remark != ''">REMARK=#{remark},</if>
            <if test="updateTime != null and updateTime != ''">UPDATETIME=#{updateTime},</if>
            <if test="isvalid != null">ISVALID=#{isvalid},</if>
        </trim>
        WHERE ID=#{id}
        <if test="sysId != null">
            AND SYSID = #{sysId}
        </if>
    </update>

    <!-- find content -->
    <select id="find" parameterType="com.pingan.robot.common.vo.QAVO" resultType="com.pingan.robot.common.vo.QAVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM info_qalist
        WHERE ID=#{id}
        AND SYSID = #{sysId}
        AND ISVALID=1
        <if test="keyword != null and keyword != ''">
            AND KEYWORD = #{keyword}
        </if>
    </select>

    <!-- find sysid types -->
    <select id="findSysId" resultType="java.lang.Integer">
        select sysid from info_qalist group by sysid;
    </select>

    <select id="findAllNoAns" parameterType="java.util.HashMap" resultMap="DataSourceResult">
        SELECT
        <include refid="Base_Column_List_NoAns"/>
        FROM info_qalist
        WHERE SYSID = #{sysId}
        <if test="keyword != null and keyword != ''">
            AND keyword = #{keyword}
        </if>
        ORDER BY id ASC
    </select>

    <!-- delete content -->
    <delete id="delete" parameterType="com.pingan.robot.common.vo.QAVO">
        DELETE FROM  info_qalist WHERE ID=#{id} AND SYSID = #{sysId}
    </delete>
</mapper>